# Build folders
build/
out/

# Visual Studio
.vs/
*.sln
*.vcxproj
*.filters

# Compiled files
*.exe
*.dll
*.obj
*.pdb

# Logs / data
*.log
*.csv

# OS junk
Thumbs.db
.DS_Store

# Third-party build artifacts
*.lib
*.a
third_party/**/build/
